{% macro preguntaText(field) %}
<div class="pregunta">
    <h3 class="h3-pregunta"> {{ field.label }} </h3>
    <div class="form-floating">
        {{ field(**kwargs) |safe }}
        <label for="floatingInputValue">{{ field.name }}</label>
    </div>
    {% if field.errors %}
        <p>{{ field.errors }}</p>
    {% endif %}
</div>
{% endmacro %}

{% macro preguntaChecked(field) %}
<div class="pregunta">
    <h3 class="h3-pregunta">{{ field.label }}</h3>
    <div class="form-check">
        {% for subfield in field %}
            <div class="form-check">
                {{ subfield(**kwargs) |safe }}
                {{ subfield.label }}
            </div>
        {% endfor %}
    </div>
</div>
{% endmacro %}

{% macro inputHidden(field)%}
    {{ field(**kwargs) |safe }}
{% endmacro %}