{% from "_macro.html" import preguntaChecked %}
{% from "_macro.html" import preguntaText %}

{% extends "layout.html"%}

{% block content %}
<div class="container formulario">
    <div class="container-fluid bg-formulario">
        <div class="text-form container">
            <h1>Formulario</h1>
            <h2>Este formulario se utilizara para poder estimar el resultado final para una categoria BI-RADS.</h2>
        </div>

        <!-- Form inicial -->
        <form id="form1" action="" method="post">
            <div class="form container" id="panel1">
               {{ preguntaText(form.peso, class="form-control")}}
               {{ preguntaText(form.estatura, class="form-control")}}
            
               {{ preguntaChecked(form.fuma, class="form-check-input")}}
               {{ preguntaChecked(form.toma, class="form-check-input")}}
            </div>
        </form>

        <div class="form container" id="panel2">
        </div>

        <hr>
        
        <!-- Botones -->
        <div class="botones container-fluid">
            <div class="row">
                <div class="col"><i id="btn-left" class="fas fa-arrow-circle-left"  onclick="anteriorForm()"></i></div>
                <div class="col"></div>
                <div class="col"><i id="btn-right" class="fas fa-arrow-circle-right" onclick="siguienteForm('1')"></i></div>
            </div>
        </div>
    </div>
{%endblock%}