<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Document</title>
</head>
<body>
    <div class="banner">
        <div class="back">
            <h1>Poner algun inicio, el login</h1>
        </div>
        <div id="bg">
            <h1>El cáncer de mama en la mujer es una enfermedad cargada de paradigmas y un problema grave de salud. Es importante conocer su historia natural, recordar que es de origen multicausal y entender su comportamiento.</h1>
        </div>
    </div>
    <div class="inicio">
        <h1>aqui se pondrian los inicios</h1>
    </div>
    
    <script src="../static/js/animate.js"></script>
</body>
</html>